.content-section {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
    color: black !important;
}

.content-section h1 {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.content-section h2 {
	font-size: 18px;
	font-weight: 500;
    text-align: center;
}


.content-section ul {
    list-style: disc !important;
    padding-left: 30px !important;
}

.content-section ol {
    list-style: decimal !important;
        padding-left: 20px !important;
}

.content-section .wrapper {
    max-width: 880px;
    font-family: 'Inter', sans-serif;
}